/* Id selector parenkamas naudojant prieš selector #ženklą, o klasės
selector - *ženklą. */
#banner {
  background-color: black;
  height: 60px;
}
.horizontal {
  display: inline;
  background: black;
  color: white;
}
/* Bahnschrift Condensed font. */
#fontaines {
  color: rgb(219, 17, 17);
  font-family: "Bahnschrift", sans-serif;
  font: bold;
  font-size: 50px;
  font-weight: bold;
}
.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto;
  background-color: #000000;
  grid-column-gap: 20px;
  border-bottom: 4pt solid rgb(89, 89, 238);
  width: 100%;
}

.grid-item {
  background-color: rgba(2, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
  color: red;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#white {
  color: white;
}
#PHome {
  background: black;
  color: white;
  display: inline-block;
  font-weight: 400;
}
.grid-container1 {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  background-color: black;
  grid-column-gap: 20px;
  width: 100vw;
}
.grid-item1 {
  background-color: black;
  width: 100vw;
  height: auto;
}
.img1 {
  display: inline-grid;
  width: 100%;
  height: auto;
}
.photos {
  width: 33vw;
  height: auto;
}
.grid-photo {
  max-width: 100vw;
  height: auto;
}
